.banner {
    margin-top: 65px;
    margin-bottom: 70px;
}

.banner__container {
    position: relative;
    height: 400px;
    background-image: url('../image/banner/bg-01.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}

.banner-content {
    max-width: 670px;
    background-color: rgb(49 80 141 / 70%);
    box-sizing: border-box;
    text-align: center;
    position: relative;
    -webkit-box-shadow: -2px 1px 54px 30px rgba(49,80,141,1);
    -moz-box-shadow: -2px 1px 54px 30px rgba(49,80,141,1);
    box-shadow: -2px 1px 54px 30px rgba(49,80,141,1);
}


.banner-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .banner {
        margin-top: 75px;
        
    }
    .banner__container {
        height: 60vh;
    }

    .banner-content {
       max-width: 70%;
       max-height: 170px;
    }

    .banner-title {
        font-size: 20px;
    }

    .banner-subtitle {
        font-size: 14px; 
        margin: 0;
    }
    .btn__buy {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .banner__container {
        height: 50vh;
    }

    .banner-title {
        font-size: 15px;
    }

    .banner-subtitle {
        font-size: 10px;
    }
    .btn__buy {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
    .banner__container {
        height: 40vh;
    }


    .banner-title {
        font-size: 12px; 
        margin: 6px 0;
    }

    .banner-subtitle {
        font-size: 8px;
    }
    .btn__buy {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .btn__buy {
        font-size: 10px;
    }
}


